<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Оплата товара</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" type="image/png" href="./images/icon.png">
</head>
<body>
  <div class="form-container">
    <div class="form-header">
        <h2>SP Pay</h2>
        <p>Оплата на счет sadomia</p>
    </div>

    <form action="/pay" method="POST">
        <div class="form-group">
            <label for="name">Товар</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                placeholder="Название товара" 
                minlength="3" 
                maxlength="64"
                required
            >
        </div>

        <div class="form-group">
            <label for="price">Стоимость</label>
            <div class="price-wrapper">
                <input 
                    type="number" 
                    id="price" 
                    name="price" 
                    placeholder="0"
                    min="1" 
                    max="1728"
                    required
                >
                <div class="price-suffix">
                    <img 
                        src="./images/dimond_ore_icon.png" 
                        alt="Diamond Ore"
                    >
                    <span>АР</span>
                </div>
            </div>
        </div>

        <button type="submit">
            Оплатить
        </button>
    </form>
  </div>
</body>
</html>